// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito');

/* Variables */
@import 'variables';

/* Bootstrap */
@import "node_modules/bootstrap/scss/bootstrap";



.bg-light{
    background: transparent !important;
}


.aba-pesquise-seus-livros{
    opacity: 0.8;
    background-image:url('imagens/biblioteca-fundo.jpg') !important;
    color: blue;
}


.navbar .navbar-nav .nav-link {
    color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
     color: #fbc531;
    }

.navbar .navbar-nav .active > .nav-link {
     color: #fbc531;
    }

